* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('img/bg.jpg');
    background-size: cover;
}

.container {
    width: 400px;
    height: 300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    perspective: 1000px;
    margin-top: 130px;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    align-items: center;
    justify-content: center;
}

.memory-card .back-view {
    transform: rotateY(-180deg);
}

.memory-card:hover .front-view {
    /* Flip card */
    transform: rotateY(180deg); 
}

.memory-card:hover .back-view {
    /* Flip card */
    transform: rotateY(0); 
}

.front-view,
.back-view {
    width: 80px;
    height: 80px;
    padding: 20px;
    border-radius: 5px;
    background-color: #f8f8f8;
    position: absolute;
    /* tampil bagian belakang hidden */
    backface-visibility: hidden;
    /* time flip */
    transition: transform .40s;
    pointer-events: none;
    user-select: none;
}

