* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-size: cover;
}

body {
  background-image: url("img/pexels-david-bartus-1166209.jpg");
  background-size: cover;
  animation: slidein 100s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }

  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

.center {
  display: flex;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.waviy {
  position: relative;
  font-weight: bold;
  margin-top: 50px;
  font-family: Georgia, serif;
}

.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}

@keyframes flip {

  0%,
  80% {
    transform: rotateY(360deg)
  }
}

.container {
  width: 900px;
  height: 400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  perspective: 1000px;
  margin-top: 110px;
  justify-content: center;
}

.memory-card {
  width: calc(15% - 5px);
  height: calc(37% - 10px);
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  align-items: center;
  justify-content: center;
}

.memory-card .back-view {
  transform: rotateY(-180deg);
}

.memory-card.flip .front-view {
  transform: rotateY(180deg);
}

.memory-card.flip .back-view {
  transform: rotateY(0);
}

.front-view,
.back-view {
  width: 120px;
  height: 120px;
  padding: 15px;
  border-radius: 5px;
  margin-top: 5px;
  background-color: #f8f8f8;
  position: absolute;
  /* tampil bagian belakang hidden */
  backface-visibility: hidden;
  /* time flip */
  transition: transform .40s;
  pointer-events: none;
  user-select: none;
  justify-content: center;
  align-items: center;
}

main {
  font-size: 62, 5%;
  width: 40rem;
  height: 33rem;
  background-color: #ffffff;
  box-shadow: 0px 23px 45px 3px #e4e7fb;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.2rem;
}

#header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 2rem;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  color: #141a39;
  text-transform: uppercase;
  cursor: default;
}

#leaderboard {
  width: 100%;
  position: relative;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  color: #141a39;
  cursor: default;
}

tr {
  transition: all 0.2s ease-in-out;
  border-radius: 0.2rem;
}

tr:not(:first-child):hover {
  background-color: #fff;
  transform: scale(1.1);
  -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
  box-shadow: 0px 5px 15px 8px #e4e7fb;
}

tr:nth-child(odd) {
  background-color: #f9f9f9;
}

tr:nth-child(1) {
  color: #fff;
}

td {
  height: 5rem;
  font-family: "Rubik", sans-serif;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  position: relative;
}

.number {
  width: 1rem;
  font-size: 2.2rem;
  font-weight: bold;
  text-align: left;
}

.name {
  text-align: left;
  font-size: 1.2rem;
}

.points {
  font-weight: bold;
  font-size: 1.3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.points:first-child {
  width: 10rem;
}

.gold-medal {
  height: 3rem;
  margin-left: 1.5rem;
}

.ribbon {
  width: 42rem;
  height: 5.5rem;
  top: -0.5rem;
  background-color: #5c5be5;
  position: absolute;
  left: -1rem;
  -webkit-box-shadow: 0px 15px 11px -6px #7a7a7d;
  box-shadow: 0px 15px 11px -6px #7a7a7d;
}

.ribbon::before {
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  bottom: -0.8rem;
  left: 0.35rem;
  transform: rotate(45deg);
  background-color: #5c5be5;
  position: absolute;
  z-index: -1;
}

.ribbon::after {
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  bottom: -0.8rem;
  right: 0.35rem;
  transform: rotate(45deg);
  background-color: #5c5be5;
  position: absolute;
  z-index: -1;
}

#buttons {
  width: 100%;
  display: flex;
  justify-content: right;
  gap: 2rem;
}

.exit {
  width: 11rem;
  height: 3rem;
  font-family: "Rubik", sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
  background-color: #5c5be5;
  border: 0;
  border-bottom: 0.2rem solid #3838b8;
  border-radius: 2rem;
  cursor: pointer;
}

.exit a {
  text-decoration: none;
  color: #fff;
}

.exit:hover {
  border-bottom: 0;
}

.memory-card.shake {
  animation: shake 0.35s ease-in-out;
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-13px);
  }

  40% {
    transform: translateX(13px);
  }

  60% {
    transform: translateX(-8px);
  }

  80% {
    transform: translateX(8px);
  }
}

/* sweetalert */
.swal-modal {
  background-color: #2d71c2;
}

.swal-title{
  font-size: 3.2rem;
  color: #ffcd71;
  font-weight: 700;
  transform-origin: 0 100px;
}

.swal-text{
  font-size: 1.6rem;
  color: white;
  font-weight: 700;
}

.swal-button--cancel{
  font-size: 1rem;
  font-weight: 700;
  background-color: #ffcd71;
  color: #01438d;
}

.swal-button--confirm{
  font-size: 1rem;
  font-weight: 700;
  background-color: white;
  color: #01438d;
}

.swal-icon--success__hide-corners::after{
  background-color: #2d71c2;
}

.swal-footer{
  text-align: center;
}