* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('img/bg.jpg');
    background-size: cover;
}

.container {
    width: 1000px;
    height: 400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    perspective: 1000px;
    margin-top: 130px;
    justify-content: center;
}

.memory-card {
    width: calc(14% - 19px);
    height: calc(33% - 10px);
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    /* box-shadow: 2px 2px 2px rgba(10, 228, 2, 0.3); */
    align-items: center;
    justify-content: center;
    /* border: 2px solid lime; */
}

.memory-card .back-view {
    transform: rotateY(-180deg);
}

.memory-card:hover .front-view {
    /* Flip card */
    transform: rotateY(180deg); 
}

.memory-card:hover .back-view {
    /* Flip card */
    transform: rotateY(0); 
}

.front-view,
.back-view {
    width: 115px;
    height: 115px;
    padding: 20px;
    border-radius: 5px;
    margin-top: 5px;
    background-color: #f8f8f8;
    position: absolute;
    /* tampil bagian belakang hidden */
    backface-visibility: hidden;
    /* time flip */
    transition: transform .40s;
    pointer-events: none;
    user-select: none;
    justify-content: center;
    align-items: center;
}

